{% extends 'blog/base.html' %}

{% block content %}
{% load wysiwyg %}
{% wysiwyg_setup %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
    <h1>New post</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
          {% if form.non_field_errors %}
            <ul>
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {{ form.as_p }}
        {% wysiwyg_editor "id_text" %}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>
</div>
{% endblock %}
